/venv/
/.idea/
.env
*/transcripts/*
*/dist/*
*.whl
*.tar.gz
/src/werewolf_agents/simple_sample/dist/
/src/werewolf_agents/cot_sample/dist/
/src/werewolf_agents/cot_sample/.cache/
*.pyc
/transcript/error_logs/
/transcript/
/src/werewolf_agents/autogen_sample/game_results/
/src/werewolf_agents/autogen_sample/transcripts/
/src/werewolf_agents/simple_updated_with_memory/transcripts/
/src/werewolf_agents/simple_updated_with_memory/game_results/
